<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Get contact on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/contact">Rails Tutorial contact section</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>