<% provide(:title, "Finished at last!") %>
<h1 style="margin-top: 50px">Finished at last!</h1>

<h3>Thumbs up!</h3>
<blockquote>
    <p>Learning Ruby on Rails is not just about learning full-stack development with Rails. 
    We also learn the concepts of MVC, which is fundamental in software engineering nowadays.
    We will be a better web developer if we don't just focus on the View side, like other web development framework, such as React.js
    </p>
    <p>--Ho Yeung Chan, a newbie of Ruby on Rails</p>
    </blockquote>
<h3>Thumbs down!</h3>
<blockquote>
  <p>If we just want to make a single-page application without connections with any server, 
  we can just focus on the View component in MVCs. But Rails forces developers in handling the components of
  Model and Controller, which are not necessary.  </p>
<p>--Many learners in React.js</p>
</blockquote>
</div>
